PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
DB_CONNECTION_STRING=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_INTEGRITY_SECRET=
WOMPI_EVENTS_SECRET=
